<div style="background-color:darkseagreen;"><h1 style="font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; margin-left: 670px;">{{title}}</h1>
<button (click)="redirectToAddNew()" style="margin-left: 645px; padding: 10px; border-radius: 8px; background-color: aquamarine;">Add New Chemical</button>
<button (click)="redirectToHome()" style="padding: 10px; border-radius: 8px; background-color: aquamarine;">Home</button>
<router-outlet></router-outlet>
</div>